/*INDEX*/
table{
    width:40px;
    display: inline;
    text-align: center;
    max-width: 100%;
    height:15em;
}
html, body{
    background-image: url(/img/books.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    padding: 0;
    margin: 0;
}
#page{
    background-color: rgba(0,0,0,0.4);
    color : rgb(249, 250, 252);
    min-height: 100%;
    padding: 4em;
    text-align: center;
}
.main{
    color: rgb(0,0,0);
}
h1{
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
}
.container {
  font-family: sans-serif;
  font-size: 14px;
}
p{
display: inline;
}

.books img{
    max-width: 8em;
    max-height: 8em;
}
.url{
    color: rgb(250, 250, 250);
}
.books {
    background-color: rgba(205, 206, 209, 0.4);
    color: rgb(0,0,0);
    text-align: center;
    display:inline-table;
    border-radius: 10%;
    border-top: 30px;
    width: 14em;
    height:14em;
    margin: 1em;
    padding: 1em 0;
    position: relative;
    box-sizing: border-box;
    transition: ease 0.5s;
}
.books:hover {
    background-color: rgba(250, 250, 250, 1);
}
.books p {
    font-size: 0.8em;
}

.liens{
    position: absolute;
    text-align: center;
    bottom: 1em;
    width: 100%;
}
/*CREATE*/
.create{
    background-color: rgba(205, 206, 209, 0.4);
    width: 100%;
    height:40%;
    text-align: center;
    color : rgb(249, 250, 252);
    min-height: 100%;
    padding: 0;
    text-align: center;
}
.btn{
    position: relative;
    text-align: center;
    border-bottom: 100%;
    bottom: -40px;
}
td.small {
    line-height: 2px;
    color: rgb(255,255,255);
}
td.big {
    line-height: 2;
        color: rgb(255,255,255);
}
td.btn {
    width: 70%;
    height:70%;
}

.view {
    background-color: rgba(0,0,0,0.3);
    color: white;
    text-align: center;

    width: 80%;
    margin: auto;
    padding: 2em;
}
#resume{
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-family: 'Fjalla One', sans-serif;
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
}

a, a:link, a:visited, a:active {
    color: #91620a;
    text-shadow: 1px 1px 0 black;
    text-decoration: none;
}

a:hover {
    color: #e2970b;
    text-decoration: underline;
}
